# Local infra bootstrap
COMPOSE_PROJECT_NAME=facelessbanking

POSTGRES_DB=facelessbanking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

REDIS_PORT=6379

KAFKA_EXTERNAL_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_CONTROLLER_PORT=29093
